name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Setup cross
      run: cargo install cross --git https://github.com/cross-rs/cross

    - name: Build
      run: cross build --verbose

    - name: Run tests
      run: cross test --verbose
